<router-outlet></router-outlet> 
<!-- <app-registro-indiviual-creditos></app-registro-indiviual-creditos> -->
<!-- <app-control-gastos-garantias></app-control-gastos-garantias> -->
<!-- <app-registro-carga-masiva></app-registro-carga-masiva> -->
<!-- <app-tramites-gastos></app-tramites-gastos> -->
<!-- <app-tramites-liquidaciones></app-tramites-liquidaciones> -->
<!-- <app-tarea21></app-tarea21> -->
<!-- <app-info-solicitud-credito></app-info-solicitud-credito> -->
<!-- <app-homologado-parroquia></app-homologado-parroquia> -->
<!-- <app-homologado-modelo></app-homologado-modelo> -->
<!-- <app-tabla-responsive></app-tabla-responsive> -->
<!-- <app-comentarios></app-comentarios> -->